.component-navbar-item {
  padding: 0 10px;
  border-right: 1px #bdbdbd solid;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: #eee;
  }

  &.is-selected {
    background-color: #fafafa;
  }

  &.round {
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    margin: 4px 2px;
    height: 22px;
    min-width: 60px;
  }
}